*{margin:0;padding:0;box-sizing:border-box}
body{font-family:Arial;background:#0f0f0f;color:#fff}

.app{display:flex;height:100vh}

.sidebar{
  width:240px;
  background:#151515;
  padding:15px;
}
.sidebar h2{
  margin-bottom:15px;
  color:#00e5ff;
}
.sidebar button{
  width:100%;
  margin:6px 0;
  padding:10px;
  background:#222;
  border:none;
  color:#fff;
  cursor:pointer;
  border-radius:6px;
}
.sidebar button:hover{background:#333}

.content{flex:1;background:#000}
iframe{
  width:100%;
  height:100%;
  border:none;
  background:#000;
}
